{% extends 'base.html.twig' %}

{% block title %}LNC | Ajouter un évènement{% endblock %}

{% block active_event %}active{% endblock %}

{% block body %}

	<main>
		<section class="container">
			<h1>Ajouter un évènement</h1>

			<a class="btn btn-item btn-primary" href="{{ path('admin_event_browse') }}">Liste des évènements</a>

			{% include "_form.html.twig" %}
		</section>
	</main>

{% endblock %}
