/* TOOLS
   ========================================================================== */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* UTILITIES
   ========================================================================== */

h1,
th,
td {
    text-align: center;
}

h1,
nav a,
.artists {
    text-transform: uppercase;
}

h1 {
    margin: 1em auto;
}

th,
td {
    vertical-align: middle;
}

/* NAV
   ========================================================================== */

nav {
    background-color: #212529;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li:hover > ul {
    display: block;
}

nav a {
    display: block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.menu,
.logout-btn {
    padding: 1em;
}

.menu:hover {
    background-color: #444;
    color: #fff;
}

.menu span {
    margin-left: 0.5em;
}

li:hover .menu,
.subnav,
.subnav a,
li:hover .logout-btn {
    background-color: #ecedee;
    color: #212529;
}

.subnav {
    display: none;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
}

.subnav li:first-child {
    border-top: 1px solid #fff;
}

.subnav li {
    border-bottom: 1px solid #fff;
}

.subnav li a:hover {
    background-color: #ddd;
}

.subnav a {
    padding: 0.5em 3em;
}

.subnav .active a,
.subnav .active a:hover {
    background-color: #2c3034;
}

.subnav .active a,
.badge-item {
    color: #fff;
}

.badge-item  {
    padding: 1em 0.5em;
}

.badge-item span {
    font-weight: 500;
    border-radius: 0.25em;
    padding: 0.15em 0.5em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), 0 2px 2px 0 rgba(255, 255, 255, 0.5) inset;
}

.badge-email {
    background-color: #28a745;
}

.badge-role {
    background-color: #007bff;
}

/* MAIN
   ========================================================================== */

.list table img {
    width: 7em;
}

.btn-item {
    margin-bottom: 2em;
}

.event,
.artist,
.place {
    background-color: #ecedee;
    margin-bottom: 1em;
    padding: 1em;
}

.event a,
.artist a {
    color: #fff;
}

.artist div,
.place div {
    display: flex;
}

.event img,
.artist div img,
.place img {
    width: 30em;
}

.artist .description,
.place .description {
    margin: 0 0 0 1em;
}

.description td {
    vertical-align: baseline;
    text-align: justify;
    padding: 1em;
}

/* -- Login -- */

.login-connected {
    margin: 6em auto;
}

.connected span {
    display: block;
    text-align: center;
}

.bg-img {
    background: center no-repeat url('../img/fond.png') fixed;
    background-size: cover;
}

.login h1 {
    color: #fff;
}

.login form {
    background-color: #fff;
    border-radius: 0.5em;
    align-items: center;
    max-width: 25em;
    margin: auto;
    padding: 1em;
}

.login form input {
    margin-bottom: 1.5em;
}

.button {
    text-align: center;
}

/* -- Event -- */

.event .description {
    margin: 0;
}

/* -- Artist -- */

.video-link {
    margin: 1em 0 0 0;
}

.video-link td {
    word-break: break-all;
    text-align: left;
    padding: 1em;
}
