/* TOOLS
   ========================================================================== */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* UTILITIES
   ========================================================================== */

h1,
th,
td {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    margin: 1em auto;
}

th,
td {
    vertical-align: middle;
}

/* NAV
   ========================================================================== */

nav {
    background-color: #212529;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 1em 0 1em 1em;
}

nav li {
    padding: 0.75em 1em;
    border-radius: 0.25em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

.active {
    background-color: #ccc;
}

/* A revoir */
.active a,
.active a:hover {
    color: #212529;
}

/* MAIN
   ========================================================================== */

.list table img {
    width: 7em;
}

.btn-item {
    margin-bottom: 2em;
}

.place img,
.artist img {
    width: 30em;
    box-shadow: 3px 5px 9px #333;
}

.description td {
    text-align: justify;
}