.places {
  position: fixed;
  bottom: 0;
  right: 5rem;
  top: 10rem;
  height: 35rem;
  width: 60vw;
  
  .image {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .right-arrow {
    position: absolute;
    top: 35%;
    right: 3%;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 10;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 35%;
    left: 3%;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 10;
    user-select: none;
  }
  .text-picture{

    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    margin: 0 Auto;
    height: 0;
    opacity: 0.6;
    width: 60vw;
    transition: 0.8s;
    h3{
      font-size: 60px;
      text-align: center;
      padding: 1rem;
    }
    h4{
      font-size: 45px;
      text-align: center;
    }
    p{
      font-size: 45px;
      text-align: center;
    }
  }
  .text-picture-active{
    transition: 0.8s;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    margin: 0 Auto;
    height: 200px;
    opacity: 0.6;
    width: 60vw;
    h3{
      font-size: 60px;
      text-align: center;
      padding: 1rem;
    }
    h4{
      font-size: 45px;
      text-align: center;
    }
    p{
      font-size: 45px;
      text-align: center;
    }
  }
}


@media (max-width: 1000px) {
  .places {
    top: 10rem;
    width: 100vw;
    right: 0;

    .text-picture{

      background-color: aliceblue;
      position: absolute;
      bottom: 0;
      margin: 0 Auto;
      height: 0;
      opacity: 0.6;
      width: 100vw;
      transition: 0.8s;
  
      h3{
        font-size: 40px;
        text-align: center;
        padding: 2rem;
      }
      h4{
        font-size: 35px;
        text-align: center;
      }
      p{
        font-size: 35px;
        text-align: center;
      }
    }
  
    .text-picture-active{
      transition: 0.8s;
      background-color: aliceblue;
      position: absolute;
      bottom: 0;
      margin: 0 Auto;
      height: 200px;
      opacity: 0.6;
      width: 100vw;
  
  
      h3{
        font-size: 40px;
        text-align: center;
        padding: 2rem;
      }
      h4{
        font-size: 35px;
        text-align: center;
      }
      p{
        font-size: 35px;
        text-align: center;
      }
    }
  }


}

@media (max-width: 700px) {
  .places {
    bottom: 0;

    .image {
      width: auto;
      height: 25rem;
      margin: auto;
    }

    .right-arrow {
      top: 75%;

    }
    
    .left-arrow {
      top: 75%;

    }

  .text-picture{

    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    margin: 0 Auto;
    height: 0;
    opacity: 0.6;
    width: 100vw;
    transition: 0.8s;

    h3{
      font-size: 40px;
      text-align: center;
      padding: 2rem;
    }
    h4{
      font-size: 35px;
      text-align: center;
    }
    p{
      font-size: 35px;
      text-align: center;
    }
  }

  .text-picture-active{
    transition: 0.8s;
    background-color: aliceblue;
    position: absolute;
    bottom: 200px;
    margin: 0 Auto;
    height: 200px;
    opacity: 0.6;
    width: 100vw;


    h3{
      font-size: 40px;
      text-align: center;
      padding: 2rem;
    }
    h4{
      font-size: 35px;
      text-align: center;
    }
    p{
      font-size: 35px;
      text-align: center;
    }
  }
  }



}
