body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('fond.png');
  background-attachment: fixed;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-size: 100%;
  background-repeat: no-repeat;
}

.app .wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: auto;
}

.nav {
  z-index: 1;
  position: fixed;
  width: 30%;
  height: 100vh;

}
.nav .navList{
    font-size: 50px;
    padding: 0.5em;
    line-height: 1.5em;
    color: white;
    list-style: none;
  }

.nav img {
    width: 50%;
    height: auto;
    margin-top: 10px;
    margin-left: 20%;
}

.dayfilter {
  background-image: url('fond.png');
  position: fixed;
  height: 8rem;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 5rem;
}

.dayfilter li {
  font-size: 20px;
  display: inline;
  text-decoration: none;
  padding: 1rem;
  color: white;
  list-style: none;
}

.dayfilter li a {
  list-style: none;
  color: white;
} 

.prog {
  margin-left: 30rem;
  margin-top: 10rem;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.artist { 
  border-radius: 1rem;
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  color: rgb(32, 11, 32);
}

.artist h1 {
  text-align: center;
  text-decoration: none;
  color: rgb(32, 11, 32);
}

.artist img {
  padding: 1rem;
  width: 20rem;
  height: auto;
  margin: 1rem;
  text-align: center;
}

.artist p {
  margin: 1rem;
}

.artist .lieu {
font-weight: 800;
margin: 1rem;
color: rgb(32, 11, 32);
}

.artist .voir {
  margin: 1rem;
  font-style: italic;
  text-decoration: underline;
  float: right;
  color: rgb(32, 11, 32);
}
