.dayfilter {
  background-image: url('src/assets/fond.png');
  position: fixed;
  height: 8rem;
  width: 100%;
  text-align: right;
  margin: 0;
  padding-top: 5rem;
  padding-right: 3rem;

  li {
    margin-left: 1rem;
    font-size: 20px;
    display: inline;
    text-decoration: none;
    padding: 1rem;
    color: white;
    list-style: none;


    &:hover{
      color: #E3A503;
      transition: 0.5s;
    }

  }
}

@media (max-width: 1000px) {
  .dayfilter {
    height: 6rem;
    margin-top: 6rem;
    padding-top: 4rem;
    background-image: none;
    text-align: center;
    
  }
}

@media (max-width: 700px) {
  .dayfilter {
    height: 2rem;
    margin-top: 10rem;
    padding: 0;
    text-align: center;

    li {
      padding: 0;
      margin-right: 0;
      font-size: 15px;
    }
  }
}
