{% extends 'base.html.twig' %}

{% block title %}LNC | Ajouter un lieu{% endblock %}

{% block active_place %}active{% endblock %}

{% block body %}

	<main>
		<section class="container">
			<h1>Ajouter un lieu</h1>

			<a class="btn btn-item btn-primary" href="{{ path('admin_place_browse') }}">Liste des lieux</a>

			{% include "_form.html.twig" %}
		</section>
	</main>

{% endblock %}
