.prog {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 70vh;
  width: 70vw;
}

.row {
  background-color: red;
  display: flex;
  flex-direction: row;
  margin: 1rem;

  .artist { 
    width: 20rem;
    border-radius: 1rem;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    color: rgb(32, 11, 32);

    h1 {
      text-align: center;
      text-decoration: none;
      color: rgb(32, 11, 32);
    }
    
    img {
      padding: 1rem;
      width: 20rem;
      height: auto;
      margin: 1rem;
      text-align: center;
    }
    
    p {
      margin: 1rem;
    }
    
    .lieu {
    font-weight: 800;
    margin: 1rem;
    color: rgb(32, 11, 32);
    }
    
    .voir {
      margin: 1rem;
      font-style: italic;
      text-decoration: underline;
      float: right;
      color: rgb(32, 11, 32);
    }
  }
  

  
}

