.prog {
  position: fixed;
  overflow-y: scroll;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 70vw;
}

.row {
  border-top-left-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .artist { 
    border: 1px solid rgba(206, 192, 192, 0.829);
    width: 30%;
    height: 50%;
    border-radius: 15px;
    background-color: white;
    margin: 2rem 1.3rem;
    padding: 1rem;
    color: rgb(32, 11, 32);

    h1 {
      text-align: center;
      text-decoration: none;
      color: rgb(32, 11, 32);
      font-weight: 600;
      font-size: 22px;
    }
    
    .picture {
      width: 100%;
      margin: 2rem auto;
      border-radius: 10px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    
    p {
      margin: 1rem;
    }
    
    .lieu {
    font-weight: 800;
    margin: 1rem;
    color: rgb(32, 11, 32);
    }
    
    .voir {
      margin: 1rem;
      font-style: italic;
      text-decoration: underline;
      float: right;
      color: rgb(32, 11, 32);
    }
  }
}

@media (max-width: 1000px) {
  .prog {
    margin-left: 0;
    width: 100vw;
    height: 90vh;
    border-top-left-radius: 0;

    .artist { 
      width: 40%;
      height: 50%;

      h1 {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }


}

@media (max-width: 700px) {
  .prog {
    width: 100vw;
    height: 90vh;

    .artist { 
      width: 40%;
      height: 40%;

      h1 {
        font-weight: 600;
        font-size: 15px;
      }
    }
  }
}
