.festival {

  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 70vw;
  overflow-y: scroll;
  overflow-x: hidden;

  .festival_picture {
    margin: 2rem auto 0;
    width: 50rem;
    height: auto;



    .CHKT_picture {
      width: 100%;
      border-radius: 8px;
    }

  }

  .festival_text {

    border-radius: 15px;
    background-color: rgba(112, 112, 112, 0.39);
    margin: 3rem auto;
    padding: 1rem;
    width: 50rem;
    text-align: center;


    h1 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 2rem;
      font-size: 30px;
      font-weight: 600;
      color: rgb(207, 204, 204);
      text-transform: uppercase;
    }

    h2 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 4rem 2rem 2rem 6rem;
      font-size: 22px;
      font-weight: 500;
      color: rgb(207, 204, 204);
      text-transform: uppercase;
      text-align: left;
    }

    p {
      margin: 2rem;
      font-size: 19px;
      font-weight: 300;
      color: rgb(207, 204, 204);
      line-height: 25px;
      text-align: justify;
    }


  }

  .festival_gif {
    margin: 2rem auto 0;
    width: 50rem;
    cursor: pointer;
    // overflow-x: hidden;
    img {
      width: 60%;
      margin-left: 20%;
    }
  }

}


::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, #e9b007);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent, #6ec6d9);
}


@media (max-width: 1000px) {
  .festival {
    margin-left: 0;
    width: 100vw;
    height: 80vh;

    .festival_text {
      width: 80%;
  }
}
}

@media (max-width: 425px) {
  .festival {
    width: 100vw;
    height: 80vh;

    .festival_picture{
      width: 80%;
      height: auto;
    }

    .festival_text {
      width: 80%;
      padding: 10px;

      p {
        
        margin: 10px;

      }
  }


  .festival_gif {
    img {
      width: 30%;
      margin-left: 5%;
    }
  }
}
}
