.mapbox {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 70vh;
  width: 70vw;
  border-top-left-radius: 80px 80px;
}
@media (max-width: 1000px) {
  .mapbox {
    margin-top: 12rem;
    margin-left: 0;
    border-top-left-radius: 0;
    height: 70vh;
    width: 100vw;
  }
}
@media (max-width: 700px) {
  .mapbox {
    margin-top: 12rem;
    height: 70vh;
    width: 100vw;
  }
}
