.nav {
  z-index: 1;
  position: fixed;
  width: 30%;
  height: 100vh;

  .navList{
    font-size: 50px;
    padding: 0.5em;
    line-height: 1.5em;
    color: white;
    list-style: none;

  }
  img {
    width: 50%;
    height: auto;
    margin-top: 10px;
    margin-left: 20%;
  }
}
