  .nav {
    z-index: 1;
    position: fixed;
    width: 30%;
    height: 100vh;
  
    .navList{
      margin-top: 18rem;
      font-size: 48px;
      padding: 0.5em;
      line-height: 1.5em;
      color: #d3eef4;
      list-style: none;
      text-transform: uppercase;

      .navLink_element{
        transition: 0.8s;
    
        &:hover{
          font-size: 50px;
          color: #f2bf68;
          padding-left: 0.1em;
          // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          transition: 0.5s;
        }
      }
    }

    .navbar__burger {
      width: 40px;
      height: 0px;
      background: transparent;
      border: none;
      color: inherit;

      &:hover {
        cursor: pointer;
      }
    }
    
    img {
      position: fixed;
      left: 2rem;
      top: 1rem;
      width: 20rem;
      height: auto;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
  }

  @media (max-width: 1600px) {
    .nav {
      .navList {
        font-size: 42px;
        .navLink_element{
          &:hover {
            font-size: 44px;
          }
        }
      }
    }
    } 

 @media (max-width: 1322px) {
  .nav {
    .navList{
      font-size: 35px;
      padding: 0.8em;
      line-height: 1.6em;
      .navLink_element{
        &:hover {
          font-size: 37px;
        }
  }
  }
    & .hide-nav {
      img {
        position: fixed;
        left: 2rem;
        top: 1rem;
        width: 15rem;
        height: auto;
      }
  }
  } 
 }
 @media (max-width: 1160px) {
  .nav {
    .navList {
      font-size: 30px;
      .navLink_element{
        &:hover {
          font-size: 32px;
        }
      }
    }
  }
  } 

@media (max-width: 1000px) {
  .nav {

    &.hide-nav {
      width: 100%;
      height: 2rem;
      flex-direction: column;
  
      .navList{
        display: none;
        font-size: 30px;
        padding: 0.5em;
        line-height: 1.5em;
        color: white;
        list-style: none;
        text-transform: uppercase;
        
  
        .navLink_element{
          transition: 0.8s;
      
          &:hover{
            font-size: 32px;
            padding-left: 0.1em;
            transition: 0.5s;
          }
        }
    }
    }

    img {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      width: 7rem;
      height: auto;
    }

    .navbar__burger {
      margin-left: 80%;
      margin-top: 2rem;

      .burger-bar {
        position: fixed;
        top: 1rem;
        right: 1rem;
        display: block;
        width: 60px;
        height: 7px;
        position: relative;
        border-radius: 3px;
        background: #FFF;
       

        &::before {
          padding: 3.5px;
          display: block;
          width: 60px;
          height: 5px;
          position: relative;
          border-radius: 3px;
          background: #FFF;
        }

        &::after {
          display: block;
          padding: 3.5px;
          width: 60px;
          height: 5px;
          position: relative;
          border-radius: 3px;
          background: #FFF;
        }
      }

      .burger-bar::before, 
      .burger-bar::after {
        content: "";
        position: absolute;
        left: 0;
      }

      .burger-bar::before {
        transform: translateY(-12px);
      }

      .burger-bar::after {
        transform: translateY(12px);
      }
    }


    
  }

  .nav {
    transition: 1s;
    &.hide-nav {
      transition: 1s;
    }
    &.show-nav {
      background-image: url('src/assets/fond.png');
      z-index: 1;
      position: fixed;
      width: 100%;
      height: 100vh;
      transition: 1s;
    
      .navList{
        margin-top: 18rem;
        font-size: 40px;
        padding: 0.5em;
        line-height: 1.5em;
        color: white;
        list-style: none;
        text-transform: uppercase;
  
        .navLink_element{
          transition: 0.8s;
      
          &:hover{
            font-size: 45px;
            padding-left: 0.1em;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            transition: 0.5s;
          }
        }
      }

      .burger-bar {
        background: transparent;

      }

      .burger-bar::before {
        transform: rotate(45deg);
        transition: 1s;
      }

      .burger-bar::after {
        transform: rotate(-45deg);
        transition: 1s;
      }

    }
  }
}






@media (max-width: 1400px) {
  .nav {
    .logo {
      width: 12rem;
    }
  }
}

@media (max-width: 1100px) {
  .nav {
    .logo {
      width: 7rem;
    }
  }
}

@media (max-width: 320px) {
  .nav {
    .logo {
      width: 5rem;
    }
  }
}
