.nav {
  width: 30%;
  height: 100vh;

  .navList{
    font-size: 70px;
    padding: 0.5em;
    line-height: 1.5em;
    color: white;

  }
  img {
    width: 50%;
    height: auto;
    margin-top: 10px;
    margin-left: 20%;
  }
}
