  .nav {
    z-index: 1;
    position: fixed;
    width: 30%;
    height: 100vh;
  
    .navList{
      margin-top: 18rem;
      font-size: 50px;
      padding: 0.5em;
      line-height: 1.5em;
      color: white;
      list-style: none;
      text-transform: uppercase;

      .navLink_element{
        transition: 0.8s;
    
        &:hover{
          font-size: 55px;
          padding-left: 0.1em;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          transition: 0.5s;
        }
      }
    }

    .navbar__burger {
      width: 40px;
      height: 0px;
      background: transparent;
      border: none;
      color: inherit;

      &:hover {
        cursor: pointer;
      }
    }
    
    img {
      position: fixed;
      left: 2rem;
      top: 1rem;
      width: 20rem;
      height: auto;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
    }
  }

 @media (max-width: 1400px) {
  .nav {

    img {
      position: fixed;
      left: 2rem;
      top: 1rem;
      width: 15rem;
      height: auto;
    }

    .navList{
      font-size: 30px;
      padding: 0.8em;
      line-height: 1.6em;

      &:hover{
        font-size: 38px;
      }
    }
  }
  } 

@media (max-width: 1000px) {
  .nav {
    width: 100%;
    height: 2rem;
    flex-direction: row;

    .navList{
      display: none;
      font-size: 30px;
      padding: 0.5em;
      line-height: 1.5em;
      color: white;
      list-style: none;
      text-transform: uppercase;

      .navLink_element{
        transition: 0.8s;
    
        &:hover{
          font-size: 35px;
          padding-left: 0.1em;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          transition: 0.5s;
        }
      }
    }

    img {
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      width: 7rem;
      height: auto;
    }

    .navbar__burger {
      margin-left: 80%;
      margin-top: 2rem;

      .burger-bar {
        display: block;
        width: 60px;
        height: 5px;
        position: relative;
        border-radius: 3px;
        background: #FFF;

        &::before {
          display: block;
          width: 60px;
          height: 5px;
          position: relative;
          border-radius: 3px;
          background: #FFF;
        }

        &::after {
          display: block;
          width: 60px;
          height: 5px;
          position: relative;
          border-radius: 3px;
          background: #FFF;
        }
      }

      .burger-bar::before, 
      .burger-bar::after {
        content: "";
        position: absolute;
        left: 0;
      }

      .burger-bar::before {
        transform: translateY(-12px);
      }

      .burger-bar::after {
        transform: translateY(12px);
      }
    }
    
  }
}






